:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-image: url('trading-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.main-page {
  display: flex;
}

.side-menu {
  width: 30%;
  max-width: 400px;
  margin: 0;
  height: 100vh;
  background-color: rgb(4, 4, 72);
}

.side-menu h2 {
  text-align: center;
  margin: 0 0 2em 0;
  padding-top: 2em;
  color: azure;
  font-size: 2em;
}
.add-trade {
  font-size: 1.6em;
  margin-left: 2em;
  padding: 0.4em 0.5em;
  border-radius: 0.2em;
  background-color: rgb(18, 18, 114);
  color: azure;
}

.add-trade:hover {
  background-color: rgb(37, 37, 146);
  color: rgb(209, 230, 50);
  box-shadow: 0 0.5em 0.5em -0.3em rgb(18, 18, 114);
  transform: translateY(-0.15em);
  border-bottom: 1px solid rgb(209, 230, 5);
  cursor: pointer;
}

.home-page {
  display: flex;
  width: 70%;
  flex-direction: column;
  align-items: center;
}

.home-page img {
  width: 25rem;
  margin: 9em 0 4em 0;
  border-radius: 1em;
}

.home-page h2 {
  font-size: 2em;
  color: azure;
  margin-bottom: 0;
  text-decoration: underline;
}

.home-page h4 {
  font-size: 1.5em;
  color: azure;
  font-style: italic;
}

.add-new {
  font-size: 1.4em;
  padding: 0.4em 1em;
  border-radius: 0.4em;
  background-color: rgb(5, 75, 132);
  color: azure;
}

.add-new:hover {
  background-color: rgb(3, 53, 93);
  color: rgb(222, 240, 87);
  box-shadow: 0 0.5em 0.5em -0.3em rgb(18, 18, 114);
  transform: translateY(-0.15em);
  border-bottom: 1px solid rgb(222, 240, 87);
  cursor: pointer;
}

.new-instrument {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 10em;
  animation: fade-in 1s ease-in;
}

.new-instrument-btn {
  display: flex;
  align-items: center;
  width: 35em;
  justify-content: flex-end;
  gap: 1em;
  margin: 1em 5em 0 0;
}

.new-instrument-btn .cancel-btn {
  font-size: 1.4em;
  padding: 0.4em 1em;
  border-radius: 0.4em;
  background-color: rgb(79, 161, 227);
  color: rgb(5, 67, 67);
}

.new-instrument-btn .cancel-btn:hover {
  background-color: rgb(49, 128, 194);
  color: rgb(222, 240, 87);
  box-shadow: 0 0.5em 0.5em -0.3em rgb(18, 18, 114);
  transform: translateY(-0.15em);
  border-bottom: 1px solid rgb(222, 240, 87);
  cursor: pointer;
}

.new-instrument-btn .save-btn {
  font-size: 1.4em;
  padding: 0.4em 1em;
  border-radius: 0.4em;
  background-color: rgb(8, 16, 85);
  color: azure;
}

.new-instrument-btn .save-btn:hover {
  background-color: rgb(10, 22, 128);
  color: rgb(222, 240, 87);
  box-shadow: 0 0.5em 0.5em -0.3em rgb(18, 18, 114);
  transform: translateY(-0.15em);
  border-bottom: 1px solid rgb(222, 240, 87);
  cursor: pointer;
}

.new-input {
  display: flex;
  width: 35em;
  flex-direction: column;
  gap: 1em;
  margin: 1em 0;
}

.new-label {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  word-spacing: 0.2em;
  color: azure;
}

.new-textarea {
  border: none;
  border-bottom: 4px solid rgb(4, 4, 79);
  background-color: bisque;
  border-radius: 0.25em;
  color: rgb(6, 6, 96);
  font-size: 2em;
  box-shadow: 0 0.5em 0.5em -0.3em rgb(18, 18, 114);
}

.new-textarea:focus {
  outline: none;
  border: 2px solid blue;
  background-color: rgb(224, 211, 195);
}

.watchlist {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  margin: 4em 0 0 0;
  padding: 0;
}

.watchlist li {
  list-style: none;
  width: 50%;
}

.watchlist button {
  width: 100%;
  font-size: 1.1em;
  padding: 0.4em 1em;
  border-radius: 0.4em;
  background-color: rgb(220, 231, 13);
  color: rgb(3, 44, 44);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}
