:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-image: url('trading-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.side-menu {
  width: 30%;
  max-width: 400px;
  margin: 0;
  height: 100vh;
  background-color: rgb(4, 4, 72);
}

.side-menu h2 {
  text-align: center;
  margin: 0 0 2em 0;
  padding-top: 2em;
  color: azure;
  font-size: 2em;
}
.add-trade {
  font-size: 1.6em;
  margin-left: 2em;
  padding: 0.4em 0.5em;
  border-radius: 0.2em;
  background-color: rgb(18, 18, 114);
  color: azure;
}

.add-trade:hover {
  background-color: rgb(37, 37, 146);
  color: rgb(209, 230, 50);
  box-shadow: 0 0.5em 0.5em -0.3em rgb(18, 18, 114);
  transform: translateY(-0.15em);
  border-bottom: 1px solid rgb(209, 230, 5);
  cursor: pointer;
}
